<div class="container py-5">
    <div class="col-md-6 mx-auto">
        <div class="card p-4 shadow-lg border-0 text-center">
            <h2 class="text-success">Usuário Criado com Sucesso</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>ID:</strong> {{user.id}}</li>
                <li class="list-group-item"><strong>Nome:</strong> {{user.name}}</li>
                <li class="list-group-item"><strong>Cargo:</strong> {{user.job}}</li>
                <li class="list-group-item"><strong>Criado em:</strong> {{user.createdAt}}</li>
            </ul>
            <a href="/usuarios" class="btn btn-primary mt-3">Ver lista de usuários</a>
        </div>
    </div>
</div>
