<div class="container py-5">
    <div class="col-md-6 mx-auto">
        <div class="card p-4 shadow-lg border-0">
            <h2 class="text-center text-success mb-4">Criar Usuário</h2>
            <form action="/usuario/criar" method="POST">
                <div class="mb-3">
                    <label class="form-label">Nome:</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Cargo:</label>
                    <input type="text" name="job" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Criar</button>
            </form>
            <a href="/usuarios" class="btn btn-link mt-3 text-center">Voltar para lista</a>
        </div>
    </div>
</div>